@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

body {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


.banner {
  color: whitesmoke;
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0;
}

.container {
  margin: 50px auto;
  width: 900px;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

h1,
h2 {
  font-family: 'Oswald';
  font-weight: bold;
}

h2 {
  color: rgb(165, 165, 165, 0.7);
}

.link {
  text-decoration: none;
  background-color: rgba(189, 255, 233, 0.7);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.link:hover {
  background-image: linear-gradient(to left, #29d59c, #1ea67a, #15795a, #0e4f3b, #07291e);
  color: antiquewhite;
}

@media (max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 350px;
  }
}
